.bodys {
    width:100%;
    height:100%;
}
.jltoolbars {
      border-bottom: 0;
     padding: 0px;
}
    .jltoolbars table {
        width:100%;
    }
    .jltoolbars tr td {
    width:100%;
    }
#jldatagrid11 {
    padding-right:2px;
}
#jldatagrid .mini-datagrid{
    width:100%;height:100%;
}
